  <!-- <button (click)="getit()">get</button> -->
  <button class="btn btn-sm btn-success" *ngIf="Selected_i>=0 && Selected_j>=0" (click)="Save()">Save</button>
<button class="btn btn-sm btn-light"  *ngIf="Selected_i>=0 && Selected_j>=0" (click)="Cancel()">Cancel</button>
   <label *ngIf="Info.length>0">{{Info}}</label>
<!-- 

  <table id="tableId">
    <thead>
     <tr>
      <th><input type="checkbox" /></th>
      <th>Size</th>
      <th>File</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td><input type="checkbox" /></td>
      <td>10Mb</td>
      <td>C:\Users\BrainBell\Desktop\Empty\abc.txt</td>
     </tr>
    </tbody>
   </table> -->


   <!-- <table  id="tableId">
    <thead>
     <tr id="tr0">
      <th *ngFor="let column of rows[0];let i=index">Col{{i}}</th>
     </tr>
    </thead>
    <tbody>
     <tr *ngFor="let val of rows; let i=index" id="tr{{i+1}}">
      <td *ngFor="let vals of val; let i=index">
         {{vals}} </td>         
     </tr>
    </tbody>
   </table> -->

   <hr/>

   <!-- <div  style="height: 543px; width:100%; background: yellow;overflow: auto;"> -->
  <!-- <cdk-virtual-scroll-viewport  style="height: 500px;width: 100%;background: yellow;" itemSize="10" (scroll)="onScroll($event)"> -->
    <cdk-virtual-scroll-viewport  style="height: 500px;width: 100%;background: yellow;" itemSize="10" (scroll)="onScroll($event)" >
    <table  id="tableId" style="table-layout: fixed;width: 2000px;    ">
      <thead>
        <tr  id="tr0">
          <th *ngFor="let rows of displayedColumns[0];let i=index" style="width: 100px;">Col{{i}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let rows of Generated;let i=index"  id="tr{{i+1}}" >
            <!-- <td> {{i}}</td> -->
            <td *ngFor="let cols of rows; let j=index" style="width: 100px;overflow: hidden;"> 
              <!-- {{cols}} -->
              <label (click)="Selected_i=i;Selected_j=j;ValueToEdit=Generated[i][j];Info=''" *ngIf="Selected_i!=i || Selected_j!=j" >{{cols}} </label>
              <input type="text" [(ngModel)]="ValueToEdit" *ngIf="Selected_i==i && Selected_j==j"/>
            
            </td>          
        </tr>
      </tbody>
    </table>
    <!-- cdkVirtualFor -->
  </cdk-virtual-scroll-viewport>

   <!-- </div> -->
